@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --color-primary: #0F3D35;
  --color-secondary: #1A5A4F;
  --color-background: #F9F6F0;
  --color-surface: #FFFFFF;
  --color-text: #111827;
  --font-sans: "Outfit", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text);
  }
}
